body {
    margin: auto;
    padding: auto;
    background-color: rgb(255, 0, 0);
}

.imgfofinha {
    width: 80%;
    justify-content: center;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
}

.textoquernamorar {
    color: white;
    font-size: 50px;
    text-align: center;
}