body {
    background-color: rgb(255, 1, 0);
    width: auto;
    height: auto;
}

.imgfofinha {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.textoquernamorar {
    color: white;
    font-size: 50px;
    text-align: center;
}